@model IEnumerable<MyShoppingMall.Web.Models.ProductCategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container-fluid">
    <div class="col-sm-11"><h1>Product Category</h1></div>
    <div class="col-sm-1"><button class="btn btn-outline-primary" onclick="location.href='@Url.Action("AddProductCategory", "ProductCategory")'">Add</button></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProductCategory", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                <a asp-action="DeleteProduct" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete this category?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
